

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."create_default_kanban_columns"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  INSERT INTO kanban_columns (id, title, position, user_id) VALUES
    ('todo', 'Do zrobienia', 1, NEW.user_id),
    ('in-progress', 'W trakcie', 2, NEW.user_id),
    ('done', 'Uko┼äczone', 3, NEW.user_id);
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."create_default_kanban_columns"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."ensure_single_draft_cv"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Je┼Ťli dodajemy now─ů wersj─Ö robocz─ů (is_draft=true)
    IF NEW.is_draft = true THEN
        -- Ustawia wszystkie inne wersje robocze tego u┼╝ytkownika dla tej oferty na is_draft=false
        UPDATE public.user_cvs
        SET is_draft = false
        WHERE user_id = NEW.user_id
        AND id != NEW.id
        AND is_draft = true
        AND (
            -- Ten sam job_offer_id lub oba null (og├│lne CV bez oferty)
            (job_offer_id = NEW.job_offer_id) OR 
            (job_offer_id IS NULL AND NEW.job_offer_id IS NULL)
        );
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."ensure_single_draft_cv"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_subscription_by_user_id"("user_id_param" "text") RETURNS TABLE("id" "uuid", "user_id" "text", "plan" "text", "status" "text", "current_offers" integer, "total_offers" integer, "current_limit" integer, "total_limit" integer, "cv_creator_limit" integer, "cv_creator_used" integer)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN QUERY
  SELECT s.id, s.user_id, s.plan, s.status, s.current_offers, s.total_offers, s.current_limit, s.total_limit, s.cv_creator_limit, s.cv_creator_used
  FROM subscriptions s
  WHERE s.user_id = user_id_param;
END;
$$;


ALTER FUNCTION "public"."get_subscription_by_user_id"("user_id_param" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."move_kanban_task"("board_id_param" "uuid", "task_id" "text", "source_column" "text", "target_column" "text", "new_order" integer) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  task_data JSONB;
BEGIN
  -- Sprawd┼║, czy tablica istnieje i nale┼╝y do bie┼╝─ůcego u┼╝ytkownika
  PERFORM id FROM public.kanban_boards
  WHERE id = board_id_param AND user_id = public.requesting_user_id();
  
  IF NOT FOUND THEN
    RAISE EXCEPTION 'Nie znaleziono tablicy lub brak uprawnie┼ä';
  END IF;
  
  -- Pobierz dane zadania
  SELECT columns->source_column->'tasks'->task_id INTO task_data
  FROM public.kanban_boards
  WHERE id = board_id_param;
  
  -- Aktualizuj tablic─Ö - usu┼ä zadanie ze ┼║r├│d┼éowej kolumny i dodaj do docelowej
  UPDATE public.kanban_boards
  SET columns = jsonb_set(
        jsonb_set(
          columns,
          ARRAY[source_column, 'tasks'],
          (columns->source_column->'tasks') - task_id
        ),
        ARRAY[target_column, 'tasks', task_id],
        jsonb_set(task_data, '{order}', to_jsonb(new_order))
      ),
      updated_at = NOW()
  WHERE id = board_id_param;
END;
$$;


ALTER FUNCTION "public"."move_kanban_task"("board_id_param" "uuid", "task_id" "text", "source_column" "text", "target_column" "text", "new_order" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."prevent_id_update"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF NEW.user_id <> OLD.user_id THEN
        RAISE EXCEPTION 'user_id cannot be changed';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."prevent_id_update"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rename_kanban_column"("board_id_param" "uuid", "column_key" "text", "new_title" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Sprawd┼║, czy tablica istnieje i nale┼╝y do bie┼╝─ůcego u┼╝ytkownika
  PERFORM id FROM public.kanban_boards
  WHERE id = board_id_param AND user_id = public.requesting_user_id();
  
  IF NOT FOUND THEN
    RAISE EXCEPTION 'Nie znaleziono tablicy lub brak uprawnie┼ä';
  END IF;

  UPDATE public.kanban_boards
  SET columns = jsonb_set(
        columns, 
        ARRAY[column_key, 'title'], 
        to_jsonb(new_title)
      ),
      updated_at = NOW()
  WHERE id = board_id_param;
END;
$$;


ALTER FUNCTION "public"."rename_kanban_column"("board_id_param" "uuid", "column_key" "text", "new_title" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reorder_kanban_columns"("board_id_param" "uuid", "new_order_param" "text"[]) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Sprawd┼║, czy tablica istnieje i nale┼╝y do bie┼╝─ůcego u┼╝ytkownika
  PERFORM id FROM public.kanban_boards
  WHERE id = board_id_param AND user_id = public.requesting_user_id();
  
  IF NOT FOUND THEN
    RAISE EXCEPTION 'Nie znaleziono tablicy lub brak uprawnie┼ä';
  END IF;

  UPDATE public.kanban_boards
  SET column_order = new_order_param,
      updated_at = NOW()
  WHERE id = board_id_param;
END;
$$;


ALTER FUNCTION "public"."reorder_kanban_columns"("board_id_param" "uuid", "new_order_param" "text"[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."requesting_user_email"() RETURNS "text"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN NULLIF(current_setting('request.jwt.claims', true)::json->>'email', '')::text;
END;
$$;


ALTER FUNCTION "public"."requesting_user_email"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."requesting_user_id"() RETURNS "text"
    LANGUAGE "sql" STABLE
    AS $$
    SELECT NULLIF(current_setting('request.jwt.claims', true)::json->>'sub', '')::text;
$$;


ALTER FUNCTION "public"."requesting_user_id"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."save_job_offer"("p_user_id" "text", "p_site" "text", "p_title" "text", "p_company" "text", "p_url" "text", "p_full_description" "text" DEFAULT NULL::"text", "p_salary" "text" DEFAULT NULL::"text", "p_expire" "date" DEFAULT NULL::"date") RETURNS TABLE("id" "uuid")
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_id UUID;
  v_plan TEXT;
  v_current_offers INT;
  v_current_limit INT;
  v_total_offers INT;
  v_total_limit INT;
  v_status_changes TEXT[]; -- Zmiana typu na TEXT[]
BEGIN
  -- Pobierz szczeg├│┼éy subskrypcji
  SELECT plan, current_offers, total_offers, current_limit, total_limit
  INTO v_plan, v_current_offers, v_total_offers, v_current_limit, v_total_limit
  FROM public.subscriptions
  WHERE subscriptions.user_id = p_user_id;

  -- Sprawd┼║ aktualn─ů liczb─Ö ofert u┼╝ytkownika
  v_current_offers := (SELECT COUNT(*) FROM public.job_offers WHERE job_offers.user_id = p_user_id);

  -- Sprawd┼║ limity dla plan├│w innych ni┼╝ premium
  IF v_plan != 'premium' THEN
    IF (v_current_limit IS NOT NULL AND v_current_offers >= v_current_limit) OR
       (v_total_limit IS NOT NULL AND v_total_offers >= v_total_limit) THEN
      RAISE EXCEPTION 'limit_reached';
    END IF;
  END IF;

  -- Przygotowanie pocz─ůtkowego wpisu w status_changes
  v_status_changes := ARRAY[CONCAT('saved-', TO_CHAR(NOW(), 'YYYY-MM-DD HH24:MI:SS'))::TEXT];

  -- Rozpocznij transakcj─Ö
  BEGIN
    -- Wstaw ofert─Ö pracy z poprawnymi kolumnami i parametrami
    INSERT INTO public.job_offers (
        user_id,
        site,
        title,             -- Poprawna kolumna
        company,
        url,
        full_description,  -- Poprawna kolumna
        salary,            -- Dodano
        expire,            -- Dodano
        created_at,
        status_changes     -- Teraz przechowuje tablic─Ö tekst├│w w formacie status-data
    )
    VALUES (
        p_user_id,
        p_site,
        p_title,           -- Poprawny parametr
        p_company,
        p_url,
        p_full_description,-- Poprawny parametr
        p_salary,          -- Dodano
        p_expire,          -- Dodano
        NOW(),
        v_status_changes   -- U┼╝ywamy przygotowanej tablicy z histori─ů status├│w
    )
    RETURNING job_offers.id INTO v_id; -- Zwr├│─ç ID wstawionego rekordu

    -- Zaktualizuj liczniki subskrypcji
    UPDATE public.subscriptions
    SET current_offers = v_current_offers + 1, -- Aktualizujemy na podstawie aktualnego stanu
        total_offers = subscriptions.total_offers + 1, -- Bezpieczniej inkrementowa─ç istniej─ůc─ů warto┼Ť─ç
        updated_at = NOW()
    WHERE subscriptions.user_id = p_user_id;

    -- Zwr├│─ç wstawione ID
    RETURN QUERY SELECT v_id;

  EXCEPTION WHEN OTHERS THEN
    -- Logowanie b┼é─Ödu i ponowne rzucenie wyj─ůtku
    RAISE NOTICE 'Transaction Error in save_job_offer: %', SQLERRM;
    RAISE;
  END;
END;
$$;


ALTER FUNCTION "public"."save_job_offer"("p_user_id" "text", "p_site" "text", "p_title" "text", "p_company" "text", "p_url" "text", "p_full_description" "text", "p_salary" "text", "p_expire" "date") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_kanban_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_kanban_timestamp"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_timestamp"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."job_analysis_results" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_offer_id" "uuid" NOT NULL,
    "skills" "text"[] DEFAULT ARRAY[]::"text"[],
    "technologies" "text"[] DEFAULT ARRAY[]::"text"[],
    "experience" "text"[] DEFAULT ARRAY[]::"text"[],
    "education" "text"[] DEFAULT ARRAY[]::"text"[],
    "languages" "text"[] DEFAULT ARRAY[]::"text"[],
    "other_requirements" "text"[] DEFAULT ARRAY[]::"text"[],
    "analyzed_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."job_analysis_results" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."job_offers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "title" "text" NOT NULL,
    "company" "text" NOT NULL,
    "site" "text",
    "url" "text",
    "status" "text" DEFAULT 'saved'::"text",
    "full_description" "text",
    "note" "text",
    "salary" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "status_changes" "text"[] DEFAULT ARRAY[]::timestamp with time zone[],
    "expire" "date",
    "priority" numeric DEFAULT '1'::numeric NOT NULL
);


ALTER TABLE "public"."job_offers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."kanban_boards" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" DEFAULT 'Moja tablica Kanban'::"text" NOT NULL,
    "user_id" "text" NOT NULL,
    "is_public" boolean DEFAULT false,
    "columns" "jsonb" DEFAULT '{"done": {"tasks": {}, "title": "Uko┼äczone"}, "todo": {"tasks": {}, "title": "Do zrobienia"}, "in-progress": {"tasks": {}, "title": "W trakcie"}}'::"jsonb" NOT NULL,
    "column_order" "text"[] DEFAULT ARRAY['todo'::"text", 'in-progress'::"text", 'done'::"text"] NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."kanban_boards" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "type" "text" NOT NULL,
    "message" "text" NOT NULL,
    "read" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "expires_at" timestamp with time zone
);

ALTER TABLE ONLY "public"."notifications" REPLICA IDENTITY FULL;


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "user_id" "text" DEFAULT "public"."requesting_user_id"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "first_name" "text",
    "last_name" "text",
    "birth_date" "date",
    "email" "text" DEFAULT "public"."requesting_user_email"(),
    "avatar" "text",
    "about_me" "text",
    "city" "text",
    "social_links" "text",
    "calendar_note" "text",
    "subscription" boolean DEFAULT false,
    "goal" numeric,
    "checklist" "text"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."promotions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "text" NOT NULL,
    "promo_type" character varying(50) NOT NULL,
    "used" boolean DEFAULT false,
    "message" "text",
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "button" "text",
    "link" "text"
);


ALTER TABLE "public"."promotions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "plan" "text" DEFAULT 'free'::"text" NOT NULL,
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "start_date" timestamp with time zone DEFAULT "now"(),
    "end_date" timestamp with time zone,
    "stripe_subscription_id" "text",
    "current_offers" integer DEFAULT 0 NOT NULL,
    "total_offers" integer DEFAULT 0 NOT NULL,
    "current_limit" integer DEFAULT 10,
    "total_limit" integer DEFAULT 20,
    "cv_creator_limit" integer DEFAULT 3 NOT NULL,
    "cv_creator_used" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone
);


ALTER TABLE "public"."subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_cvs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "name" "text" DEFAULT 'Moje CV'::"text" NOT NULL,
    "cv_data" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "custom_styles" "jsonb" DEFAULT '{}'::"jsonb",
    "selected_template" "text" DEFAULT 'nowoczesny'::"text",
    "job_offer_id" "uuid",
    "is_draft" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_cvs" OWNER TO "postgres";


ALTER TABLE ONLY "public"."job_analysis_results"
    ADD CONSTRAINT "job_analysis_results_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."job_offers"
    ADD CONSTRAINT "job_offers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."kanban_boards"
    ADD CONSTRAINT "kanban_boards_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."promotions"
    ADD CONSTRAINT "promotions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_stripe_subscription_id_key" UNIQUE ("stripe_subscription_id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_user_id_unique" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."user_cvs"
    ADD CONSTRAINT "user_cvs_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_job_analysis_results_job_offer_id" ON "public"."job_analysis_results" USING "btree" ("job_offer_id");



CREATE INDEX "idx_job_offers_user_id" ON "public"."job_offers" USING "btree" ("user_id");



CREATE INDEX "idx_kanban_boards_user_id" ON "public"."kanban_boards" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_user_id_read" ON "public"."notifications" USING "btree" ("user_id", "read");



CREATE INDEX "idx_profiles_user_id" ON "public"."profiles" USING "btree" ("user_id");



CREATE INDEX "idx_promotions_user_id" ON "public"."promotions" USING "btree" ("user_id");



CREATE INDEX "idx_subscriptions_user_id" ON "public"."subscriptions" USING "btree" ("user_id");



CREATE INDEX "idx_user_cvs_is_draft" ON "public"."user_cvs" USING "btree" ("user_id", "is_draft");



CREATE INDEX "idx_user_cvs_job_offer_id" ON "public"."user_cvs" USING "btree" ("job_offer_id");



CREATE INDEX "idx_user_cvs_user_id" ON "public"."user_cvs" USING "btree" ("user_id");



CREATE OR REPLACE TRIGGER "ensure_single_draft_cv_trigger" AFTER INSERT OR UPDATE ON "public"."user_cvs" FOR EACH ROW EXECUTE FUNCTION "public"."ensure_single_draft_cv"();



CREATE OR REPLACE TRIGGER "kanban_boards_update_timestamp" BEFORE UPDATE ON "public"."kanban_boards" FOR EACH ROW EXECUTE FUNCTION "public"."update_kanban_timestamp"();



CREATE OR REPLACE TRIGGER "profiles_update_guard" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."prevent_id_update"();



CREATE OR REPLACE TRIGGER "subscriptions_update_timestamp" BEFORE UPDATE ON "public"."subscriptions" FOR EACH ROW EXECUTE FUNCTION "public"."update_timestamp"();



CREATE OR REPLACE TRIGGER "update_user_cvs_updated_at" BEFORE UPDATE ON "public"."user_cvs" FOR EACH ROW EXECUTE FUNCTION "public"."update_timestamp"();



ALTER TABLE ONLY "public"."job_analysis_results"
    ADD CONSTRAINT "job_analysis_results_job_offer_id_fkey" FOREIGN KEY ("job_offer_id") REFERENCES "public"."job_offers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."job_offers"
    ADD CONSTRAINT "job_offers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."kanban_boards"
    ADD CONSTRAINT "kanban_boards_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."promotions"
    ADD CONSTRAINT "promotions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_cvs"
    ADD CONSTRAINT "user_cvs_job_offer_id_fkey" FOREIGN KEY ("job_offer_id") REFERENCES "public"."job_offers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."user_cvs"
    ADD CONSTRAINT "user_cvs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("user_id") ON DELETE CASCADE;



CREATE POLICY "Insert notifications only authenticated" ON "public"."notifications" FOR INSERT TO "authenticated" WITH CHECK (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can delete own CVs" ON "public"."user_cvs" FOR DELETE TO "authenticated" USING (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can delete own job offers" ON "public"."job_offers" FOR DELETE TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can delete own kanban boards" ON "public"."kanban_boards" FOR DELETE TO "authenticated" USING (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can delete their own job analyses" ON "public"."job_analysis_results" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."job_offers"
  WHERE (("job_offers"."id" = "job_analysis_results"."job_offer_id") AND ("job_offers"."user_id" = "public"."requesting_user_id"())))));



CREATE POLICY "Users can insert analyses for their own jobs" ON "public"."job_analysis_results" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."job_offers"
  WHERE (("job_offers"."id" = "job_analysis_results"."job_offer_id") AND ("job_offers"."user_id" = "public"."requesting_user_id"())))));



CREATE POLICY "Users can insert own CVs" ON "public"."user_cvs" FOR INSERT TO "authenticated" WITH CHECK (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can insert own job offers" ON "public"."job_offers" FOR INSERT TO "authenticated" WITH CHECK (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can insert own kanban boards" ON "public"."kanban_boards" FOR INSERT TO "authenticated" WITH CHECK (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can insert own profile" ON "public"."profiles" FOR INSERT TO "authenticated" WITH CHECK ((("public"."requesting_user_id"() = "user_id") AND ("public"."requesting_user_email"() = "email")));



CREATE POLICY "Users can insert own subscription" ON "public"."subscriptions" FOR INSERT TO "authenticated" WITH CHECK (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can update own CVs" ON "public"."user_cvs" FOR UPDATE TO "authenticated" USING (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can update own job offers" ON "public"."job_offers" FOR UPDATE TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can update own kanban boards" ON "public"."kanban_boards" FOR UPDATE TO "authenticated" USING (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can update own notifications" ON "public"."notifications" FOR UPDATE TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can update own subscription" ON "public"."subscriptions" FOR UPDATE TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can update their own job analyses" ON "public"."job_analysis_results" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."job_offers"
  WHERE (("job_offers"."id" = "job_analysis_results"."job_offer_id") AND ("job_offers"."user_id" = "public"."requesting_user_id"())))));



CREATE POLICY "Users can view own CVs" ON "public"."user_cvs" FOR SELECT TO "authenticated" USING (("user_id" = "public"."requesting_user_id"()));



CREATE POLICY "Users can view own job offers" ON "public"."job_offers" FOR SELECT TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can view own kanban boards" ON "public"."kanban_boards" FOR SELECT TO "authenticated" USING ((("user_id" = "public"."requesting_user_id"()) OR "is_public"));



CREATE POLICY "Users can view own notifications" ON "public"."notifications" FOR SELECT TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can view own subscription" ON "public"."subscriptions" FOR SELECT TO "authenticated" USING (("public"."requesting_user_id"() = "user_id"));



CREATE POLICY "Users can view their own job analyses" ON "public"."job_analysis_results" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."job_offers"
  WHERE (("job_offers"."id" = "job_analysis_results"."job_offer_id") AND ("job_offers"."user_id" = "public"."requesting_user_id"())))));



ALTER TABLE "public"."job_analysis_results" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."job_offers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."kanban_boards" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."subscriptions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_cvs" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."create_default_kanban_columns"() TO "anon";
GRANT ALL ON FUNCTION "public"."create_default_kanban_columns"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_default_kanban_columns"() TO "service_role";



GRANT ALL ON FUNCTION "public"."ensure_single_draft_cv"() TO "anon";
GRANT ALL ON FUNCTION "public"."ensure_single_draft_cv"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."ensure_single_draft_cv"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_subscription_by_user_id"("user_id_param" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_subscription_by_user_id"("user_id_param" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_subscription_by_user_id"("user_id_param" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."move_kanban_task"("board_id_param" "uuid", "task_id" "text", "source_column" "text", "target_column" "text", "new_order" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."move_kanban_task"("board_id_param" "uuid", "task_id" "text", "source_column" "text", "target_column" "text", "new_order" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."move_kanban_task"("board_id_param" "uuid", "task_id" "text", "source_column" "text", "target_column" "text", "new_order" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."prevent_id_update"() TO "anon";
GRANT ALL ON FUNCTION "public"."prevent_id_update"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."prevent_id_update"() TO "service_role";



GRANT ALL ON FUNCTION "public"."rename_kanban_column"("board_id_param" "uuid", "column_key" "text", "new_title" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."rename_kanban_column"("board_id_param" "uuid", "column_key" "text", "new_title" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."rename_kanban_column"("board_id_param" "uuid", "column_key" "text", "new_title" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."reorder_kanban_columns"("board_id_param" "uuid", "new_order_param" "text"[]) TO "anon";
GRANT ALL ON FUNCTION "public"."reorder_kanban_columns"("board_id_param" "uuid", "new_order_param" "text"[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."reorder_kanban_columns"("board_id_param" "uuid", "new_order_param" "text"[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."requesting_user_email"() TO "anon";
GRANT ALL ON FUNCTION "public"."requesting_user_email"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."requesting_user_email"() TO "service_role";



GRANT ALL ON FUNCTION "public"."requesting_user_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."requesting_user_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."requesting_user_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."save_job_offer"("p_user_id" "text", "p_site" "text", "p_title" "text", "p_company" "text", "p_url" "text", "p_full_description" "text", "p_salary" "text", "p_expire" "date") TO "anon";
GRANT ALL ON FUNCTION "public"."save_job_offer"("p_user_id" "text", "p_site" "text", "p_title" "text", "p_company" "text", "p_url" "text", "p_full_description" "text", "p_salary" "text", "p_expire" "date") TO "authenticated";
GRANT ALL ON FUNCTION "public"."save_job_offer"("p_user_id" "text", "p_site" "text", "p_title" "text", "p_company" "text", "p_url" "text", "p_full_description" "text", "p_salary" "text", "p_expire" "date") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_kanban_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_kanban_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_kanban_timestamp"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "service_role";



GRANT ALL ON TABLE "public"."job_analysis_results" TO "anon";
GRANT ALL ON TABLE "public"."job_analysis_results" TO "authenticated";
GRANT ALL ON TABLE "public"."job_analysis_results" TO "service_role";



GRANT ALL ON TABLE "public"."job_offers" TO "anon";
GRANT ALL ON TABLE "public"."job_offers" TO "authenticated";
GRANT ALL ON TABLE "public"."job_offers" TO "service_role";



GRANT ALL ON TABLE "public"."kanban_boards" TO "anon";
GRANT ALL ON TABLE "public"."kanban_boards" TO "authenticated";
GRANT ALL ON TABLE "public"."kanban_boards" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."promotions" TO "anon";
GRANT ALL ON TABLE "public"."promotions" TO "authenticated";
GRANT ALL ON TABLE "public"."promotions" TO "service_role";



GRANT ALL ON TABLE "public"."subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."user_cvs" TO "anon";
GRANT ALL ON TABLE "public"."user_cvs" TO "authenticated";
GRANT ALL ON TABLE "public"."user_cvs" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "service_role";






RESET ALL;
